article {
  padding: 0rem 2rem;
  max-width: 1300px;
  margin-inline: auto;
  position: relative;
}

.loader {
  height: 10rem;
  position: absolute;
  top: 10rem;
  left: 2rem;
}
.error {
  color: white;
}
.line-margin {
  margin-inline: 1rem;
}
.main-info {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  direction: rtl;
  text-align: left;
  line-height: 2;
  margin-top: -3rem;
}
.icon {
  margin-top: 2rem;
}
h1 {
  font-family: 'vazir num';
  font-weight: 300;
  font-size: 10rem;
  direction: ltr;
  margin-left: -1rem;
}
.info-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1.5rem;
  gap: 2rem;
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  svg {
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 625px) {
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1rem;
  }
  .icon {
  }
  .info-row {
    display: grid;
    place-items: center stretch;
    .svg-line {
      display: none;
    }
  }
}
@media (width<300px) {
  .forecasts-container {
    padding: 0;
  }
}
