article {
  min-block-size: 100svh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 3rem 2rem;
  max-width: 1300px;
  margin-inline: auto;
  position: relative;
}
.loader {
  height: 10rem;
  position: absolute;
  top: 10rem;
  left: 2rem;
}
.error {
  color: white;
}
.line-margin {
  margin-inline: 1rem;
}
.main-info {
  /* grid-row: 2/-1; */
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  direction: rtl;
  text-align: left;
  line-height: 2;
}
.icon {
  margin: 2rem 0;
}
h1 {
  font-family: 'vazir num';
  font-weight: 300;
  font-size: 10rem;
  margin-left: -1rem;
}
.info-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1.5rem;
  gap: 2rem;
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  svg {
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 625px) {
  .info-row {
    display: grid;
    place-items: center stretch;
    .svg-line {
      display: none;
    }
    /* flex-direction: column;
    align-items: last baseline;
    .svg-line {
      display: none;
    }
    p {
      flex-basis: 100%;
      flex-grow: 1;
    } */
  }
}
