:host {
  display: flex;
  margin-top: 3.5rem;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.card {
  display: grid;
  gap: 2rem;
  padding: 0.8rem 1.5rem;
  min-width: 6.7rem;
  color: white;
  background-color: #e9bcd5;
  border-radius: 0.8rem;
  text-align: center;
  border: 1px solid rgba(168, 168, 168, 0.3);
}
@media (width<500px) {
  :host {
    display: grid;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (width<300px) {
  :host {
    display: grid;
  }
  .card {
    min-width: 100%;
    display: grid;
    place-content: center;
  }
}
