:host {
  display: flex;
  margin-top: 3.5rem;
  padding-bottom: 2rem;
}
.card {
  display: grid;
  gap: 2rem;
  padding: 0.8rem 1.5rem;
  color: white;
  background-color: #e9bcd5;
  border-radius: 0.8rem;
  text-align: center;
  border: 1px solid rgba(168, 168, 168, 0.3);
}
