img {
  height: 6rem;
  margin-right: auto;
}
.small {
  height: 2rem;
  margin-inline: auto;
}
@media (width<600px) {
  img {
    height: 3rem;
    margin-bottom: 1rem;
  }
  .small {
    margin-bottom: 0;
  }
}
