:host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: var(--main-background);
}
main {
  min-block-size: 100svh;
}
article {
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%);
  min-width: 31rem;
  box-shadow: inset 3px 0 rgba(255, 255, 255, 0.1);
  padding: 1rem;
}
@media (width<980px) {
  :host {
    grid-template-columns: 1fr;
  }
}
