:host {
  direction: rtl;
}
.container {
  display: flex;
  gap: 1rem;
}
select {
  font-family: 'vazir';
  background-color: rgba(255, 255, 255, 0.09);
  padding: 0.3rem 0.5rem;
  padding-left: 2rem;
  border: rgba(255, 255, 255, 0.16) solid 0.15rem;
  border-radius: 1rem;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/assets/arrow.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 0.8rem;
}
select > option {
  color: black;
}
.button-container {
  background-color: rgba(255, 255, 255, 0.16);
  display: flex;
  gap: 0.2rem;
  border-radius: 1.5rem;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'vazir';
  padding: 0 1rem;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 1.5rem;
}
.left.active {
  background-color: #caaccf;
  padding: 0 1.3rem;
  margin-right: -10px;
}
.right.active {
  background-color: #caaccf;

  padding: 0 1.3rem;
  margin-left: -10px;
}

/* .button-container {
  position: relative;
  display: flex;
  button {
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    padding: 0.5rem 1.9rem;
    color: white;
    font-family: 'vazir';
    display: flex;
    position: absolute;
    border-radius: 1.5rem;
  }
  .left {
    left: -6rem;
    padding-left: 0.8rem;
  }
  .right {
    padding-right: 1rem;
  }
  .right.active {
    padding-right: 1.8rem;
  }
  .active {
    background-color: #caaccf;
    padding-left: 2rem;
    z-index: 1;
  }
} */
