:host {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 3rem;
  height: 100%;
  padding: 1rem;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
