/* You can add global styles to this file, and also import other style files */
:root {
  --main-background: linear-gradient(45deg, #f0b5ce, #8c6bae);
}
@font-face {
  font-family: 'vazir';
  src: url('/font/Vazirmatn-FD-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'vazir';
  src: url('/font/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'vazir num';
  src: url('/font/Vazirmatn-RD-FD-Light.woff2') format('woff2');
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'vazir';
}

/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100svh;
  line-height: 1.6;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
